<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons>
      <ion-back-button defaultHref="/health-care"style="color: black;"></ion-back-button>
    <ion-title style="color: black;">Baby Products</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-searchbar></ion-searchbar>
<ion-card>
  <h2>Baby Oil</h2>
  <img src="assets/gokila/b1.webp"height="150"width="350">
  </ion-card>
  <ion-button href="babypro">BUY</ion-button>
  <ion-button class="c1"alt="Cancel Your Product">CANCEL</ion-button>
  
<ion-card>
  <h2>Baby Safe Cloth</h2>
  <img src="assets/gokila/b1.jpg"height="150"width="350">
  </ion-card>
  <ion-button>BUY</ion-button>
  <ion-button class="c1">CANCEL</ion-button>
  <ion-card>
  <h2>Baby Powder</h2>
  <img src="assets/gokila/b2.jpg"height="150"width="350">
  </ion-card>
<ion-button>BUY</ion-button>
  <ion-button class="c1">CANCEL</ion-button>
  
<ion-card>
  <h2>Baby Skin Oil</h2>
  <img src="assets/gokila/b5.jpg"height="150"width="350">
  </ion-card>
  <ion-button>BUY</ion-button>
  <ion-button class="c1">CANCEL</ion-button>
  
</ion-content>
