<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons>
      <ion-back-button defaultHref="/pets" color="white"></ion-back-button>
    <ion-title>Pet Service</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="c1" >
 
 <ion-item style="margin-top: 50px;">
   <ion-label>
     Select Animal
   </ion-label>
   <ion-select>
     <ion-select-option>Cat</ion-select-option>
     <ion-select-option>Dog</ion-select-option>
     <ion-select-option>Cow</ion-select-option>
     <ion-select-option>Goat</ion-select-option>
     <ion-select-option>Horse</ion-select-option>
     <ion-select-option>Rabbit</ion-select-option>
     <ion-select-option>Buffaloes</ion-select-option>
   </ion-select>
   </ion-item>
   <ion-item >
     <ion-label>Select Symptoms</ion-label>
   <ion-select>
   <ion-select-option>Milk fever</ion-select-option>
   <ion-select-option>Mastitis</ion-select-option>
   <ion-select-option>PPR (goat plague)</ion-select-option>
   <ion-select-option>Foot and mouth disease</ion-select-option>
   <ion-select-option>Blue tongue</ion-select-option>
   <ion-select-option>Johne`s disease</ion-select-option>
   <ion-select-option>Milk fever</ion-select-option>
   <ion-select-option>Pox</ion-select-option>
  </ion-select> 
  </ion-item><br>
    <ion-label style="margin-left: 20px;">Near Location</ion-label><br><br><br>
  <ion-label style="margin-left: 20px;">Helpline Number</ion-label><br>
  <ion-button style="margin-top: 40px;margin-left: 100px;">Submit</ion-button>
  </ion-content>
