.image--size {
    width: 100%;
    height: 100%;
 }

 ion-card {
  border-radius: 10px;
  background-color: rgba(229, 116, 249, 0.397);
  width: 50%;
  margin: auto;
}

.vip {
    --background: rgba(83, 10, 228, 0.401);

}