<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/#"></ion-back-button>
    </ion-buttons>
    <ion-title>Veterinary meds </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="vip">
  <br> <br> <br> <br>
  <ion-grid fixed>
    <ion-row>

      <ion-col
      size="12"
      size-xs="12"
      sixe-sm="6"
      size-md="4"
      size-lg="4"
      >
      <div class="card" >
        <ion-card  href="/">
           <img class="image--size" src="./assets/cheta.jpg" alt="">
          </ion-card>
      </div>
      <ion-text align="center"><b><h3>Symptoms</h3></b></ion-text>
   </ion-col>
   </ion-row>
   </ion-grid>
 <br> <br>
   <ion-grid fixed>
    <ion-row>
   <ion-col
   size="12"
   size-xs="12"
   sixe-sm="6"
   size-md="4"
   size-lg="4"
   >
   <div class="card">
    <ion-card  href="/">
       <img class="image--size" src="./assets/vets.jpg" alt="">
    </ion-card>
  </div>
  <ion-text  align="center"><b><h3> Health Issues</h3></b></ion-text>
</ion-col>


    </ion-row>
  </ion-grid>

</ion-content>
