<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons>
      <ion-back-button defaultHref="/symtom"style="color: black;"></ion-back-button>
    <ion-title style="color: black;">Fever</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-searchbar></ion-searchbar>
<ion-card>
  <h2>Paracetamol</h2>
  <img src="assets/gokila/m1.webp"height="150"width="350">
  </ion-card>
  <ion-button href="babycare">BUY</ion-button>
  <ion-button class="c1">CANCEL</ion-button>
  <h5 class="a1">1% OFFER</h5>
<ion-card>
  <h2>acetaminophen</h2>
  <img src="assets/gokila/m2.jpg"height="150"width="350">
  </ion-card>
  <ion-button>BUY</ion-button>
  <ion-button class="c1">CANCEL</ion-button>
  <h5 class="a1">10% OFFER</h5>
<ion-card>
  <h2>Tylenol</h2>
  <img src="assets/gokila/m3.jpg"height="150"width="350">
  </ion-card>
<ion-button>BUY</ion-button>
  <ion-button class="c1">CANCEL</ion-button>
  <h5 class="a1">7% OFFER</h5>
<ion-card>
  <h2>ibuprofen</h2>
  <img src="assets/gokila/m4.jpg"height="150"width="350">
  </ion-card>
  <ion-button>BUY</ion-button>
  <ion-button class="c1">CANCEL</ion-button>
  <h5 class="a1">5% OFFER</h5>
</ion-content>
