#btn{
  color: green
  ;
}
#img{
  height: 120px;
  width: 150px;
  margin-left: 40px;
}
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  color: #000;
  margin-left: 20px;
}
#title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  color: green;
}
#cart{
  margin-left: 45%;
  margin-top: -10%;
}
