<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons>
      <ion-back-button defaultHref="/med"color="white"></ion-back-button>
    <ion-title>Human Issues</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="c1">
  <ion-card>
    <img src="assets/gokila/h.jpg"width="400px">
    <h3>Physical Activity and Nutrition</h3>
    <ion-button href="apoint">Select</ion-button>
  </ion-card>
  <ion-card>
    <img src="assets/gokila/h1.jpg">
    <h3>Overweight and Obesity.</h3>
    <ion-button href="apoint">Select</ion-button>
  </ion-card>
  <ion-card>
    <img src="assets/gokila/h2.jpg">
    <h3>Substance Abuse</h3>
    <ion-button href="apoint">Select</ion-button>
  </ion-card>
  <ion-card>
    <img src="assets/gokila/hi.jpg">
    <h3>HIV/AIDS</h3>
    <ion-button href="apoint">Select</ion-button>
  </ion-card>
</ion-content>
