<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons>
      <ion-back-button defaultHref="/pets"style="color: black;"></ion-back-button>
    <ion-title style="color: black;">Cow Product</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-searchbar></ion-searchbar>
<ion-card>
  <h2>URTOGAL</h2>
  <img src="assets/gokila/cm1.jpg"height="150"width="350">
  </ion-card>
  <ion-button href="babycare">BUY</ion-button>
  <ion-button class="c1">CANCEL</ion-button>
  <h5 class="a1">1% OFFER</h5>
<ion-card>
  <h2>MSF</h2>
  <img src="assets/gokila/cm4.webp"height="150"width="350">
  </ion-card>
  <ion-button>BUY</ion-button>
  <ion-button class="c1">CANCEL</ion-button>
  <h5 class="a1">10% OFFER</h5>
<ion-card>
  <h2>HIT-O-GEN</h2>
  <img src="assets/gokila/cm3.jpg"height="150"width="350">
  </ion-card>
<ion-button>BUY</ion-button>
  <ion-button class="c1">CANCEL</ion-button>
  <h5 class="a1">7% OFFER</h5>
<ion-card>
  <h2>DIGOPLUS</h2>
  <img src="assets/gokila/cm5.webp"height="150"width="350">
  </ion-card>
  <ion-button>BUY</ion-button>
  <ion-button class="c1">CANCEL</ion-button>
  <h5 class="a1">5% OFFER</h5>
</ion-content>
