h2{
    
    color: black;
}
.tool{
    text-align: center;
    --background: #42c3fad3;
    color: white;
}
ion-button{
    height: 50px;
    width: 70px;
}
.c1{
    --background: hsl(0, 80%, 54%);
    height: 50px;
    width: 70px;
}
.a1{
    position: absolute;
    margin-top: -35px;
    margin-left: 150px;
    color: black;
}
ion-content{
    --background: #42c3fad3;
}