<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons>
      <ion-back-button defaultHref=""></ion-back-button>
    <ion-title><h1>Symptom</h1></ion-title></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card href="/"> 
           <h2 style="text-align:center;">Fever</h2>
          </ion-card>
          </ion-col>
               <ion-col> 
                 <ion-card>
               <h2>Diarrhoea</h2>
            </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
              <ion-card> 
               <h2>Cough</h2>
              </ion-card>
              </ion-col>
                   <ion-col>
                     <ion-card> 
                 <h2>Sore Throat</h2>
                </ion-card>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                <ion-card> 
                 <h2>Abdominal pain</h2>
                </ion-card>
                </ion-col>
                     <ion-col>
                       <ion-card> 
                  <h2>Umbilical cord<br>discharge</h2>
                  </ion-card>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-card href="/"> 
                     <h2 style="text-align:center;">Excessive crying< 3 Monts</h2>
                    </ion-card>
                    </ion-col>
                         <ion-col> 
                           <ion-card>
                         <h2>Breathing Difficulty</h2>
                      </ion-card>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                        <ion-card> 
                         <h2>Insect bite</h2>
                        </ion-card>
                        </ion-col>
                             <ion-col>
                               <ion-card> 
                           <h2>Rash</h2>
                          </ion-card>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col>
                          <ion-card> 
                           <h2>Vomiting</h2>
                          </ion-card>
                          </ion-col>
                               <ion-col>
                                 <ion-card> 
                            <h2>Ear Pain</h2>
                            </ion-card>
                            </ion-col>
                          </ion-row>
      </ion-grid>
    </div>
    <ion-button class="c1"href="appoint">Check</ion-button>
</ion-content>
