<ion-header>
  <ion-toolbar>
    <ion-title>Create Doctors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="meddydocForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Doctor Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Designation</ion-label>
        <ion-input formControlName="designation" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Hospital Name</ion-label>
        <ion-input formControlName="hname" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">City</ion-label>
        <ion-input formControlName="city" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contact No</ion-label>
        <ion-input formControlName="contact" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Appointment Fee</ion-label>
        <ion-input formControlName="fee" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item >
      <ion-label position="floating">Appoiment date</ion-label><br>
      <ion-input formControlName="date" type="date" required></ion-input>
    </ion-item>
      <ion-row>
        <ion-col>
          <ion-button href="list" type="submit" color="secondary" expand="block">Book Now</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
