<ion-header>
  <ion-toolbar id="toolbar" >
    <ion-buttons>

      <ion-title id="title">MeddyPharma</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="./assets/pharma.jpg" class="img-responsive " id="img1" >

<ion-grid>
<ion-row>
      <ion-col size="12">
      <h1 id="cat">Pharmarcy</h1>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card3" href="/order-medicine">
    <img src="./assets/order-med.jpg"alt>
    <h4> Order Medicines </h4>
  </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card2" href="/pharmalist">
          <img src="./assets/pharmarcy.jpg"alt>
          <h3>Pharmacy </h3>
        </ion-card>
            </ion-col>
      <ion-col size="6">
  <ion-card class="card2" href="/pmlist">
    <img src="./assets/vet-pharma.jpg"alt>
    <h3>Veterinary Medicines</h3>
  </ion-card>
      </ion-col>
      <ion-col size="6">
  <ion-card class="card3" href="/health-care">
    <img src="./assets/health-care.jpg"alt>
    <h4>Health Care Products</h4>
  </ion-card>
      </ion-col>

      </ion-row>
  </ion-grid>
</ion-content>
