ion-content{
  --background:rgba(144, 238, 144, 0.37);
}
ion-card {
  border-radius: 10px;
  background-color: rgba(255, 253, 255, 0.397);
  margin: auto;
  }

#img1{
  margin-top: 10px;
  border-radius: 25px;
}
h1{
  margin-left: 5px;
  color: rgb(31, 16, 245);
  font-family: Georgia, 'Times New Roman', Times, serif;

}
h4{
  margin-left: 10px;

}
h3{
  margin-left: 10px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
h6{
  margin-left: 10px;
}
h5{
  margin-left: 10px;

}



#img{
  height: 150px;
  width: 170px;
  margin-left: 40px;
}
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  color: rgb(44, 12, 223);
  margin-left: 20px;
}
#title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  color:blue;
  margin-left: 20px;
}
#cart{
  margin-left: 40%;
  margin-top: 1%;
}
#card{
  margin-left: 10px;

}
#title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  color: rgb(44, 12, 223);
  margin-top: 15px;
  font-weight: bold;
}
ion-avatar{
  height: 50px;
  width: 50px;
  margin-left: 20px;
  margin-top: 10px;
}
#toolbar{
  height: 65px;
}
