<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons>
      <ion-back-button Href="/med"style="color: black;"></ion-back-button>
    <b><ion-title style="color: black;">Symtom</ion-title></b>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <img src="assets/gokila/h4.jpg"height="150"width="350">
  <h3>Fever</h3>
  <ion-button href="fever">Select</ion-button>
</ion-card>

<ion-card>
  <img src="assets/gokila/h5.jpg"height="150"width="350">
  <h3>Fatigue</h3>
  <ion-button href="fatigue">Select</ion-button>
</ion-card>

<ion-card>
  <img src="assets/gokila/h6.jpg"height="150"width="350">
  <h3>Muscle aches</h3>
  <ion-button>Select</ion-button>
</ion-card>
<ion-card>
  <img src="assets/gokila/h7.jpg"height="150"width="350">
  <h3>Coughing</h3>
  <ion-button>Select</ion-button>
</ion-card>
</ion-content>
