<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/patient-details" color="secondary"></ion-back-button>
    <ion-title>Payment</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h3>Select Payment Options</h3>
    <ion-grid>
      <ion-row>
        <ion-col >
          <ion-card class="card1">
            <img src="./assets/card-icon.png">
            <h1>Card</h1>

          </ion-card>
          <ion-card class="card2" href="/upi">
            <img src="./assets/uip-icon.png">
            <h1>UPI</h1>
          </ion-card>
          <ion-card class="card1">
            <img src="./assets/wallet-icon.png">
            <h1>Wallets</h1>
          </ion-card>
          <ion-card class="card1">
            <img src="./assets/bank-icon.png">
            <h1>Net Banking</h1>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
