<ion-header>
  <ion-toolbar class="toolbar" >
    <ion-buttons slot="start" id="btn">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title id="title">Laboratory List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="suba">
  <ion-searchbar placeholder="search location"></ion-searchbar>
  <ion-card >
    <ion-item >
      <ion-avatar slot="start">
        <img src="./assets/m1.png" alt="">
      </ion-avatar>
      <ion-label><b><h1>Meenakshi Lab</h1></b>
      <ion-text>
        <b>MJ complex,shop no 16</b><br>
      <b>Shenoy Nagar,Madurai</b><br>
      <b>Ph.7373273732</b> <br></ion-text>
      </ion-label>
    </ion-item>
    </ion-card>
    <ion-card >
      <ion-item >
        <ion-avatar slot="start">
          <img src="./assets/bos.jfif" alt="">
        </ion-avatar>
        <ion-label><b><h1>Bose Clinical Laboratary& X-rays</h1></b>
        <ion-text>
          <b>Tamil Sangam road,Near Central Library</b><br>
        <b>Simmikal,Madurai</b><br>
        <b>Ph.8220926020</b> <br></ion-text>
        </ion-label>
      </ion-item>
    </ion-card>
      <ion-card>
      <ion-item >
        <ion-avatar slot="start">
          <img src="./assets/b8.png" alt="">
        </ion-avatar>
        <ion-label><b><h1>Modern Clinical Laboratary</h1></b>
        <ion-text>
          <b>100 - B,S VeliStrt, Madurai Main</b><br>
        <b> Panthadi, Tamil Nadu 625001</b><br>
        <b>Ph. +91 452 233 3744</b> <br></ion-text>
        </ion-label>
      </ion-item>
      </ion-card>







  <ion-card >
    <ion-item >
      <ion-avatar slot="start">
        <img src="./assets/medl.png" alt="">
      </ion-avatar>
      <ion-label><b><h1>Med Lab </h1></b>
      <ion-text>
        <b>J 105,</b><br>
      <b>Peramanur main road,salem 006</b><br>
      <b>Ph.9789216102</b> <br></ion-text>
      </ion-label>
    </ion-item>
    </ion-card>




  <ion-card >
    <ion-item >
      <ion-avatar slot="start">
        <img src="./assets/appp.png" alt="">
      </ion-avatar>
      <ion-label><b><h1>Appolo Labs</h1></b>
      <ion-text>
        <b>#5,Trichy main road</b><br>
      <b>seelanaikanpatty road,salem 636201</b><br>
      <b>Ph.9445567868</b> <br></ion-text>
      </ion-label>
    </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./assets/b2.png" alt="">
        </ion-avatar>
        <ion-label><b><h1>Prime Lab</h1></b>
        <ion-text>
          <b>1,34,Perumal kovil Strt</b><br>
        <b>Swarnapuri,salem432</b><br>
        <b>Ph.9840635334</b> <br></ion-text>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./assets/b4.jfif" alt="">
        </ion-avatar>
        <ion-label><b><h1>Sri Balaji Lab</h1></b>
        <ion-text>
          <b>M4FP+6GR,Anna Salai,</b><br>
        <b>Swarnapuri, Salem,</b><br>
        <b>Ph.9443217552</b> <br></ion-text>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card >
      <ion-item >
        <ion-avatar slot="start">
          <img src="./assets/sks.jpg" alt="">
        </ion-avatar>
        <ion-label><b><h1>SkS Lab</h1></b>
        <ion-text>
          <b>50, Ground Floor,SKS Towers 1, Brindavan Rd, Salem</b><br>
        <b> Brindavan Rd,Salem</b><br>
        <b>Ph.914274033777</b> <br></ion-text>
        </ion-label>
      </ion-item>
      </ion-card>

</ion-content>


