#female{
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
#male{
  margin-right: 10px;
}
#add{
  color: rgb(58, 152, 240);
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 10px;

}
