#toolbar{
  --background:rgba(113, 190, 209, 0.904);
  padding: 20px;
}
#title{
  color:white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  margin-left: 30px;
}
#btn{
  color: white;
  font-size: xx-large;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    margin-left: 20px;
    text-align: center;

}

  #female{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  #male{
    margin-right: 10px;
  }
  #add{
    color: rgb(58, 152, 240);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10px;

  }
#name{
  margin-top: -20px;
}
ion-avatar{
  margin-top: 5%;
  height: 100px;
  width: 100px;
  margin-left: 120px;
}
