<ion-header>
  <ion-toolbar class="t1">
    <ion-buttons slot="start"color="black">
      <ion-back-button defaultHref="health-care"></ion-back-button>
    </ion-buttons>
    <ion-title>Doctor Consultation</ion-title>
  </ion-toolbar>
</ion-header>
<h2 class="m1">Your Doctor</h2>
<h4 class="m2">Book An Appoinment For Consultation</h4>
<ion-searchbar></ion-searchbar>

<ion-content>
<ion-card>
  <img src="assets/gokila/doct.webp"height="300">
  <h3>Upcoming Appoinment</h3>
  <h2>Dr.Yaash</h2>
  <h4>Diabetologist</h4>
  <h6>Asd</h6>
  <h2>Due Date</h2>
  <h3>24 Jun 2022</h3>
    <ion-button>Call Clinic</ion-button>
  <ion-button>Book Follow-Up</ion-button>
  <ion-button href="\fever">Buy Product</ion-button>
</ion-card>
</ion-content>
