<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Health Cares </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="vip"> 
  <ion-searchbar   animated placeholder="Search"></ion-searchbar>
  <ion-grid>
    <ion-row>

      <ion-col>
        <div>
          <ion-card class="image--size">
            <img src="./assets/pro.jpg" alt>          
          </ion-card>
          <ion-text align="center"><h3><b><i> Proteins</i></b></h3> </ion-text>
        </div>
      </ion-col>
      
      <ion-col>
        <div>
          <ion-card>
            <img src="./assets/baby.jpg" alt>          
          </ion-card>
          <ion-text align="center"><h3><b><i>Baby care</i></b></h3> </ion-text>
        </div>
      </ion-col>

     

      <ion-col>
        <div><ion-card>
          <img src="./assets/pain.jpg" alt="">
         </ion-card>
         <ion-text align="center"><h3><b><i>Pain Relief</i></b></h3> </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      
      <ion-col>
        <div>
          <ion-card>
          <img src="./assets/dia.jpg" alt>
         </ion-card>
         <ion-text align="center"><h3><b><i> Diabetic care</i></b></h3> </ion-text>
        </div>
      </ion-col>

      <ion-col>
        <div>
          <ion-card >
          <img src="./assets/healthfood.jpg" alt>
          </ion-card>
          <ion-text align="center"><h3><b><i>Healthy food and Drinks</i></b></h3> </ion-text>
        </div>
      </ion-col>

      <ion-col>
        <div><ion-card>
          <img src="./assets/vitmin.jpg" alt>
          </ion-card>
          <ion-text align="center"><h3><b><i>Vitamins and Minerals</i></b></h3> </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>

      <ion-col>
        <div>
          <ion-card>
            <img src="./assets/skin.jpg" alt>           
          </ion-card>
          <ion-text align="center"><h3><b><i>Skin Care</i></b></h3> </ion-text>
        </div>
      </ion-col>

      <ion-col>
        <div>
          <ion-card >
          <img src="./assets/sanitizer.jpg" alt>
          </ion-card>
          <ion-text align="center"><h3><b><i>Sanitizers</i></b></h3> </ion-text>
        </div>
      </ion-col>

      <ion-col>
        <div><ion-card>
          <img src="./assets/clean.jpg" alt>
          </ion-card>
          <ion-text align="center"><h3><b><i>Cleaning Kits</i></b></h3> </ion-text>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
