<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons>
      <ion-back-button defaultHref="/symtom"color="white"></ion-back-button>
    <ion-title>Fatigue</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-card>
    <h2>Paracetamol</h2>
    <img src="assets/gokila/m6.jpg"height="150"width="350">
    </ion-card>
    <ion-button>BUY</ion-button>
    <ion-button class="c1">CANCEL</ion-button>
    <h5 class="a1">0% OFFER</h5>
  <ion-card>
    <h2>acetaminophen injection</h2>
    <img src="assets/gokila/m7.jpg"height="150"width="350">
    <ion-button>BUY</ion-button>
    <ion-button class="c1">CANCEL</ion-button>
    <h5 class="a1">5% OFFER</h5>
  </ion-card>
  <ion-card>
    <h2>Pain Killer</h2>
    <img src="assets/gokila/m8.jpg"height="150"width="350">
    <ion-button>BUY</ion-button>
    <ion-button class="c1">CANCEL</ion-button>
    <h5 class="a1">2% OFFER</h5>
  </ion-card>
  
</ion-content>
