<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons>
      <ion-back-button defaultHref="/tabs/tab2" color="white"></ion-back-button>
    <ion-title>Pet Medicine</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="class">

  <div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Cow Product</h3>
        <ion-card href="/cow-product">
         <img src="./assets/gokila/c1.jpg" alt=""height="200">

        </ion-card>
        </ion-col>
             <ion-col>
              <h3>Goat Product</h3>
               <ion-card >
           <img src="./assets/goat.jpg" alt=""height="200">
           </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
              <h3>Cat Product</h3>
            <ion-card>
             <img src="./assets/cat.jpg" alt=""height="150">
             </ion-card>
            </ion-col>
                 <ion-col>
                  <h3>Horse Product</h3>
                   <ion-card>
               <img src="./assets/horse.jpg" alt="">
               </ion-card>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <h3>Rabbit Product</h3>
              <ion-card>
               <img src="./assets/rabbit.jpg" alt=""height="200">
                </ion-card>
              </ion-col>
                   <ion-col>
                    <h3>Pig Product</h3>
                     <ion-card>
                 <img src="./assets/pig1.jpg" alt=""height="180">
                </ion-card>
                </ion-col>
              </ion-row>
    </ion-grid>
  </div>



</ion-content>
